@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-900 text-slate-100; /* enforce dark background */
}
